@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robototres:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robotocem:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

main {
    margin: 0px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#imagem {
    margin: 0px;
    width: auto;
    height: auto;
}

#data_nasc {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Robototres', sans-serif;
}

.entrada {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Robototres', sans-serif;
}

#cadastrar {
    height: 35px;
    width: 300px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
    font-family: 'Robototres', sans-serif;
    cursor: pointer;
    margin-bottom: 5px;
}

#formulario {
    width: 300px;
    height: auto;

}

#direita {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Robototres', sans-serif;
    resize: none;
  }


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

p {
    font-family: 'Robotocem', sans-serif;
    margin: 0px;
    padding: 0px;
}

#l {
    width: 100px;
    height: auto;
}

#r {
    width: 100px;
    height: auto;
}

#login {
    font-family: 'Robotocem', sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

#c {
width: auto;
height: auto;
}

.lTermos {
    font-family: 'Robotocem', sans-serif;
    text-decoration: none;
}

#tmb {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.abs {
    display: absolute;
}

.n {
    display: none;
}

#texto {
    text-align: justify;
    width: 720px;
    margin-left: 35px;
    font-family: 'Open Sans', sans-serif;
}

.open {
    font-family: 'Open Sans', sans-serif;
    color: blue;
    font-size: 14px;
}

#tm {
    position: absolute; 
    width: 800px; 
    height: 602px; 
    margin-left: 284px;
    background-color: #FFF;
    border-radius: 25px 25px 25px 25px;
    border:1px solid #ccc;
    color: black;
    text-align: center;
    z-index: 1000;
    overflow:auto; 
}

#fechar {
    height: 35px;
    width: 100px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
    font-family: 'Robototres', sans-serif;
    cursor: pointer;
    margin-bottom: 10px;
}