@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robototres:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robotocem:wght@100&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

main {
    margin: 0px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#imagem {
    margin: 0px;
    width: auto;
    height: auto;
}

#data_nasc {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Robototres', sans-serif;
}

.entrada {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Robototres', sans-serif;
}

#cadastrar {
    height: 35px;
    width: 300px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
    font-family: 'Robototres', sans-serif;
}

#formulario {
    width: 300px;
    height: auto;

}

#direita {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Robototres', sans-serif;
    resize: none;
  }


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

p {
    font-family: 'Robotocem', sans-serif;
    margin: 0px;
    padding: 0px;
}

#l {
    width: 100px;
    height: auto;
}

#r {
    width: 100px;
    height: auto;
}

#login {
    font-family: 'Robotocem', sans-serif;
    text-decoration: none;
    color: black;
}

#c {
width: auto;
height: auto;
}

#lTermos {
    font-family: 'Robotocem', sans-serif;
    text-decoration: none;
}
