body {
    background-color: #5db0e0;
}

h1 {
    color: white;
    text-align: center;
}

#first {
    width: 300px;
}

#third {
    width: 300px;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.back_cad {
    width: 300px;
    height: auto;
    padding: 15px; 
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nome {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

#email {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

#senha {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

#senha_conf {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

#data_nasc {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

#cidade {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    cursor: pointer;
}

textarea {
    line-height: 20px;
    width: 300px;
    height: 90px;
    resize: none;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

#cnh {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

#rg {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

#cpf {
    width: 300px;
    border:1px solid #ccc;
    border-radius: 15px 15px 15px 15px;
}

input[type=submit]{
    display: block;
    background-color: #ccc;
    width: auto;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}