@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robototres:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robotocem:wght@100&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

main {
    margin: 0px;
    width: auto;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#imagem {
    margin: 0px;
    width: auto;
    height: auto;
}

#modelo {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

#ano {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

#placa {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

#assentos {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

#cor {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#cadastrar {
    height: 35px;
    width: 300px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
    font-family: 'Robototres', sans-serif;
}

#imagem {
    width: fit-content;
    height: fit-content;
}

#formulario {
    width: 300px;
    height: auto;
}

#direita {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Robototres', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

p {
    font-family: 'Robotocem', sans-serif;
    margin: 0px;
    padding: 0px;
}
