@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    height: auto;
    top: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5db0e0;
}

#grex {
    font-family: 'Roboto', sans-serif;
    width: 100px;
    margin-left: 25px;
    margin-right: 35px;
}

#l {
    display: flex;
    flex-direction: row;
    width: 800px
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.botao {
    height: 35px;
    width: 150px;
    text-align: center;
    background: white;
    color: black;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Robototres', sans-serif;
    resize: none;
}

#enviar {
  height: 35px;
  width: 300px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 20px 20px 20px 20px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
}

footer {
    width: auto;
    height: auto;
    background-color: #5db0e0;
    margin-left: 0px;
    margin-bottom: 0px;;
    margin right: 0px;
    margin-top: 20px;
    bottom: 0px;
    right:  0px;
    left:   0px;
    background: #5db0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#company {
  margin-right: 20px;
}

#paginas {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.font {
  font-family: 'Roboto', sans-serif;
}

.margem {
  margin-top: 20px;
  margin-right: 10px;
}

#principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#lf {
  margin-top: 65px;
  margin-bottom: 60px;
}

#rt {
height: 100px;
width: 200px;
}

.entrada {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Robototres', sans-serif;
}
