@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body {
    background-color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    height: auto;
    top: 0;
    right: 0;
    padding: 0px;
    position: fixed;
    margin 0px;
    left: 0;
    background: #5db0e0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#grex {
    font-family: 'Roboto', sans-serif;
    width: 100px;
}

#slogan {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

#menu {
    width: 350px;
}

#l {
    display: flex;
    flex-direction: row;
    width: 800px
}

#principal {
    width: 1366px;
    height: 700px;
    background-image: url("img/back.fw.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#texto {
  width: 583px;
}

#direita {
  width: 583px;
}

.links {
  font-family: 'Roboto', sans-serif;
}

#foto {
    width: 626px;
    height: 433px;
}

#middle {
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#driver_text {
    font-family: 'Montserrat', sans-serif;
}

#pags {
    text-decoration: none;
    display: inline;
}

#bc {
    height: 35px;
    width: 150px;
    text-align: center;
    background: white;
    color: black;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    font-family: 'Roboto', sans-serif;

}

#bu {
    height: 35px;
    width: 150px;
    text-align: center;
    background: #5db0e0;
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

footer {
    width: auto;
    height: 400px;
    background-color: #5db0e0;
    margin: 0px;
    bottom: 0px;
    right:  0px;
    left:   0px;
    background: #5db0e0;
}

#snd-slogan-line {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
}

#snd-slogan {
  font-family: 'Castoro', serif;
  height: 70px;
}

#um {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#Frase1 {
  word-wrap: break-word;
  width: 360px;
  height: auto;
  font-family: 'Roboto', sans-serif;
}
