@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
  margin: 0px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

header {
    height: auto;
    width: 100%;
    top: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5db0e0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#grex {
    font-family: 'Roboto', sans-serif;
    width: 100px;
    margin-left: 25px;
    margin-right: 35px;
}

#slogan {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

#menu {
    width: 350px;
}

#l {
    display: flex;
    flex-direction: row;
    width: auto;
}

#principal {
    width: 1349px;
    height: 620px;
    background-image: url("img/back.fw.png");
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 15px;
}

#texto {
  margin-top: 80px;
  width: 583px;
}

#direita {
  width: 583px;
}

.links {
  font-family: 'Roboto', sans-serif;
}

#foto {
    width: 626px;
    height: 433px;
}

#middle {
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#driver_text {
    font-family: 'Montserrat', sans-serif;
}

#pags {
    text-decoration: none;
    display: inline;
}

.botao {
    height: 35px;
    width: 150px;
    text-align: center;
    background: white;
    color: black;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

footer {
    width: auto;
    height: auto;
    background-color: #5db0e0;
    margin-left: 0px;
    margin-bottom: 0px;;
    margin-right: 0px;
    margin-top: 20px;
    bottom: 0px;
    right:  0px;
    left:   0px;
    background: #5db0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#company {
  margin-right: 20px;
}

#paginas {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.font {
  font-family: 'Roboto', sans-serif;
}

.margem {
  margin-top: 20px;
  margin-right: 10px;
}

#snd-slogan-line {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
}

#snd-slogan {
  font-family: 'Castoro', serif;
  font-size: 35px;
  height: 70px;
}

.um {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Frase {
  word-wrap: break-word;
  text-align: justify;
  font-size: 25px;
  width: 380px;
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

.titulo {
  font-weight: normal;
}

  
