@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: white;
    margin: 0px;
}

header {
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #5db0e0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#grex {
    font-family: 'Roboto', sans-serif;
    width: 100px;

}

#menu {
    width: 350px;
}

#left {
    display: inline;
}

#main {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#slogan {
    width: 1000px;
}

#foto {
    width: 626px;
    height: 433px;
}

#middle {
    height: fit-content;
    display: flex;  
    flex-direction: row;
}

#driver_text {
    font-family: 'Montserrat', sans-serif;
}

#pags {
    text-decoration: none;
    display: inline;
}

#bm {
    height: 35px;
    width: 150px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
}

#bp {
    height: 35px;
    width: 150px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
}



input[type=submit]{
    display: inline;
    background-color: white;
    height: 30px;
    border: none;
    outline: 0;
    margin-left: auto;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

footer {
    width: auto;
    height: 500px;
    
    background-color: #5db0e0;
    margin:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #5db0e0;
}