@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robotocem:wght@100&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

main {
    margin: 0px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#imagem {
  width: 1349px;
  height: 693px;
  background-image: url("img/driver3.fw.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

#email {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

#senha {
    width: 300px;
    height: 30px;
    padding: 0px;
    border:1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

#entrar {
    height: 35px;
    width: 300px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px;
}

#formulario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#direita {
    width: 500px;
    height: 694px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

#lEmail {
    font-family: 'Robotocem', sans-serif;

}

#lSenha {
    font-family: 'Robotocem', sans-serif;

}

#lembrar {
    font-family: 'Robotocem', sans-serif;
    margin: 0px;
}

#l {
    width: 100px;
    height: auto;
}

#r {
    width: 100px;
    height: auto;
}


#lembrar_esqueceu {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#check {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#esqueceu {
    font-family: 'Robotocem', sans-serif;
    text-decoration: none;
    color: black;
}

#cadastro {
    font-family: 'Robotocem', sans-serif;
    text-decoration: none;
    color: black;
}

#c {
width: auto;
height: auto;
}
