body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Helvetica, Arial, Sans-Serif
}

#maps {
    width: auto;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#input {
    width: 380px;
}