main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#texto {
  width: 1000px;
  height: auto;
  word-wrap: break-word;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

#equipe {
  float: left;
}